@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Student"  asp-route-param="10" asp-action="StudentGrades"> High Level</a>
    <a asp-controller="Student" asp-route-param="5" asp-action="StudentGrades"> Medium Level</a>
    <a asp-controller="Student" asp-route-param="1" asp-action="StudentGrades"> Low Level</a>

</div>
